.sidebar {
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    margin-right: 10px;
    & div {
        width: 90%;
        height: 3px;
        background-color: black;
    }
    @media (min-width: 500px) {
        display: none;
    }
}