@import '../../utils/scss_variables/media';
.sidebar {
  width: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  margin-right: 10px;
  & div {
    width: 90%;
    height: 4px;
    background-color: black;
  }
  @media ($screenSmall) {
    display: none;
  }
}
